@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.display-flex {
    display: flex;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.text-gray {
    color: #424242;
}

.text-light-gray {
    color: #727272;
}

.text-primary {
    color: #ff900f;
}

.nav-items {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    font-weight: 400;
}

.brand {
    font-weight: 700;
    font-size: 3rem;
}

.navbar,
.banner,footer {
    max-width: 1440px;
    margin: 0 auto;
    /* border: 1px solid black; */
}

.banner-content {
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.btn-primary {
    background-color: #ff900f;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}

.banner-image {
    width: 100%;
}

main {
    max-width: 1440px;
    margin: 0 auto;
    /* border: 1px solid black; */
}

main>section {
    margin-top: 130px;
}

.teams {
    align-items: center;
    /* border: 1px solid black; */

}

.our-features {
    margin-left: 130px;
    max-width: 537px;
}

.team-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
}

#quick-list {
    font-weight: 500;
}

.fact-card {
    border: 1px solid #ff900f;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

.fact-discription {
    max-width: 540px;
    margin-bottom: 100px;
    margin-top: 24px;
}

.sponsor-info {
    max-width: 542px;
    text-align: center;
    margin: 50px auto;
}

.sponsor-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img {

    filter: grayscale(100%);
}

#feature-section-title {
    border-left: 5px solid #ff900f;
    padding-left: 21px;
}

.feature-card,
.feature-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 0;

}

.feature-card {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 20px;

}
.features{
    gap: 100px;
}
#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: -100px;
    margin-left: -100px;
}
#experience-year{
    font-size: 4rem;
    font-weight: 700;
}
.feature-arcitect img{
    width: 100%;
}
.footer-section{
    text-align: center;
    padding: 38px 0;
    margin-top: 110px;
    margin-bottom: 216px;
}
@media screen and (max-width:576px) {

    .navbar,
    .nav-links,
    .teams,.features {
        flex-direction: column;
    }

    .team-image-container,
    .facts-container,
    .sponsor-companies {
        grid-template-columns: repeat(1, 1fr);
        /* gap: 24px; */
    }

    .our-features {
        margin-left: 20px;
    }

    .facts-container {
        justify-items: center;
        gap: 24px;
    }

    .sponsor-companies {
        gap: 50px;
        justify-items: center;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    .teams, .features {
        flex-direction: column;
    }

    .our-features {
        margin: 50px auto;
    }

    .sponsor-companies {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;

    }
     #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
    .facts-container{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }
    .section-title,.fact-discription{
        margin: 0 auto;
        text-align: center;
        margin-bottom: 50px;
    }
  

}